<div class="bg-dark text-white vh-100 p-3">

    <h3 class="mb-4">
        Admin Panel
    </h3>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Category Add
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Category View
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Product Add
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Product View
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Orders
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white">
                Users
            </a>
        </li>

    </ul>

</div>