<div class="my-5 shadow-sm pb-4 bg-white max-w-full">
  <ul>
    <li class="flex items-baseline justify-center gap-5">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""
        >Home</a
      >
      <a routerLinkActive="active" routerLink="about">About</a>
      <a routerLinkActive="active" routerLink="contact">Contact</a>
      <a routerLinkActive="active" routerLink="profile">Profile</a>
      <a routerLinkActive="active" routerLink="products">Products</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="user">user</a>
    </li>
  </ul>
</div>
