<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg border-0" style="width: 400px">
    <div class="card-body p-4">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="loginSave()" action="">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter your email"
          />
          @if (loginForm.get('email')?.touched) {
            @if (loginForm.get('email')?.errors?.['required']) {
              <p class="my-1 text-danger fw-bold">Email Is Required</p>
            } @else if (loginForm.get('email')?.errors?.['email']) {
              <p class="my-1 text-danger fw-bold">Please Enter Valid Email</p>
            }
          }
        </div>

        <div class="mb-4">
          <label class="form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Enter your password"
          />
          @if (loginForm.get('password')?.touched) {
            @if (loginForm.get('password')?.errors?.['required']) {
              <p class="my-1 text-danger fw-bold">Password Is Required</p>
            } @else if (loginForm.get('password')?.errors?.['minlength']) {
              <p class="my-1 text-danger fw-bold">Minimum Length Should Be 6 Character</p>
            }
          }
        </div>

        <button class="btn btn-primary w-100">Login</button>

        <div class="text-center mt-3">
          <a href="#" class="text-decoration-none">Forgot Password?</a>
        </div>

        <hr />

        <p class="text-center mb-0">
          Don't have an account?
          <a href="#" class="text-decoration-none">Sign Up</a>
        </p>
      </form>
    </div>
  </div>
</div>
