.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.form-check {
  margin-bottom: 10px;
}

.pagination .page-link {
  cursor: pointer;
}