/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import 'heading';
@import 'button';

* {
  box-sizing: border-box;
}
.main {
  @include highlightBox(pink);
  width: 250px;
  height: 250px;
  margin: 0px auto;
  nav {
    ul {
      background-color: cadetblue;
      li {
        padding: 5px 0px;
        list-style: none;
        margin: 10px 0px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
.notes {
  @include highlightBox(blue);
  padding: 5px;
  margin: 10px 0px;
  color: white;
}

.btnClass {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-danger {
  @extend .btn;
  background-color: $heading-color;
  border: red;
  color: white;
}
.btn-warnning {
  @extend .btn;
  background-color: yellow;
  border: yellow;
  color: black;
}
