<div class="card shadow-sm border-0 h-100">
  <img
    style="cursor: pointer; height: 350px; object-fit: cover"
    [routerLink]="['/product', pData.slug]"
    [src]="pData.imagesUrl[0]"
    class="card-img-top"
    alt=""
  />
  <div class="card-body">
    <h6 class="fw-bold product-name text-capitalize">{{ pData.name }}</h6>
    <p class="text-muted mb-1 text-capitalize">{{ pData.category.name }}</p>
    <h6 class="fw-bold">₹ {{ pData.price }}</h6>
    @if (!isInCart()) {
      <button

        [disabled]="checkCart() || pData.stock == 0"
        [ngClass]="{
          'bg-danger text-white border-white': checkCart() || pData.stock == 0,
        }"
        (click)="
          cart.addToCart({
            id: pData.id,
            quantity: 1,
            price: pData.price,
          })
        "
        class="btn btn-dark w-100 mt-2"
      >
        {{ pData.stock === 0 ? 'Out of Stock' : checkCart() ? 'ADDED' : '    Add To Cart' }}
      </button>
    }
    @if (isInCart()) {
      <button (click)="removeFromCart()" class="btn btn-danger w-100 mt-2">Remove From Cart</button>
    }
  </div>
</div>
